doctype html
include includes/mixins

+page("Intro To Grails Training - MoO")
  section.index-page
    h1 Intro To Grails
    h3 Mutual Of Omaha

    p
    small Created by <a href="http://www.objectpartners.com">Object Partners Inc</a> / <a href="mailto:nick.larson@objectpartners.com">Nick Larson</a>

  section.index-page
    ol
      li
        a(href="lectures/intro.html", target="_blank") Intro
      li
        a(href="lectures/lecture-01.html", target="_blank") Grails...what??
      li
        a(href="lectures/lecture-02.html", target="_blank") Groovy - Intro
      li
        a(href="lectures/lecture-03.html", target="_blank") Groovy - Conditionals
      li
        a(href="lectures/lecture-04.html", target="_blank") Groovy - Collections

  section.index-page
    h2 Grails Training
    h4 Printable Slides
    ol
      li
        a(href="lectures/intro.html?print-pdf", target="_blank") Intro
      li
        a(href="lectures/lecture-01.html?print-pdf", target="_blank") Grails...what??
      li
        a(href="lectures/lecture-02.html?print-pdf", target="_blank") Groovy - Intro
      li
        a(href="lectures/lecture-03.html?print-pdf", target="_blank") Groovy - Conditionals
      li
        a(href="lectures/lecture-04.html?print-pdf", target="_blank") Groovy - Collections
