doctype html
include ../includes/mixins
- var title = "Intro to Grails Training - MoO"

+page(title)
  section
    h1
      i.fa.fa-github
    p These slides are up on GitHub!
    a(href="https://github.com/nllarson/moo_grails_training", target="_blank") nllarson/moo_grails_training

  section
    h2 Introductions
    ul
      li Nick Larson
    br
    a(href="https://twitter.com/nllarson", target="_blank") @nllarson
    br
    a(href="mailto:nick.larson@objectpartners.com") nick.larson@objectpartners.com

  section
    h2 Training Objectives
    ul
      li Share our experience building production ready applications using Grails
      li Learn about Groovy, Grails, Testing
      li We love questions, don't be shy!

  section
    h1 Topics

  section
    h2 Day 1
    ul
      li Grails...what?
      li Intro To Groovy

  section
    h2 Day 2
    ul
      li Grails
      li MVC
      li Spring
      li Convention / Configuration
      li Plugins

  section
    h2 Day 3
    ul
      li GORM

  section
    h2 Day 4
    ul
      li Testing

  section
    h2 Day 5
    ul
      li MoO Grails Development

  section
    h2 Day 6
    ul
      li Work Day!

  section
    h2 Format
    ul
      li Lecture
      li Individual Labs
