doctype html
include ../includes/mixins

+page("Lecture 01 - Grails...what???")
  +lecture-title-page("Grails...what???", "Lecture 01")

  section
    p Grails is an Open Source, full stack, web application framework for the JVM. It takes advantage of the Groovy programming language and convention over configuration to provide a productive and stream-lined development experience.

  section
    p You can visit the Grails and Groovy websites to learn more about them.
    p
      a(href="http://grails.org") grails.org
    p
      a(href="http://groovy.codehaus.org") groovy.codehaus.org


  section
    p Grails framework comes with command line support.  Your ide (Eclipse, IntelliJ) will use these command line scripts to generate files, configure the application, run the application, etc...

  section
    ul
      li Runs on the JVM
      li Built on top of may other frameworks such as Spring and Hibernate
      li Convention of Configuration

  section
    p Live Coding!!!
